#navbar {
    background: transparent;
    backdrop-filter: blur(10px); 
    padding: 10px; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
    font-size: 2em;
    color: aquamarine;
}


#navbar ul li a {
    color: aliceblue; 
    position: relative; 
}

#navbar ul li a::before, #navbar ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0; 
    height: 2px;
    background: linear-gradient(to right, #cac531, #f3f9a7);
    transition: width 0.5s; 
}

#navbar ul li a::before {
    transform-origin: left top; 
}

#navbar ul li a::after {
    transform-origin: right top; 
}

#navbar ul li a:hover::before, 
#navbar ul li a:hover::after {
    width: 100%; 
}

#navbar ul li a:hover {
   color:#0D47A1;
}
