

* {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    color: #fff;
    background-color: black;
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



  